/* Se hace función no mostrar */
.not-visible {
    display: none;
}

.text-center{
    text-align: center;
}

/* CAJA PADRE */
.container{
    display: flex;
    flex-direction: column;
    position: relative;
}

/* BODY */
body{
    margin: 0;
    height: auto;
    display: flex;
    object-fit: cover;
    width: 150px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
    background-color: #7C7B7B;
    flex-wrap: wrap;
}

/* HEADER */
header{
    margin: 0;
    background-color: #04031F;
    width: 100%;
    height: 100px;
}

.menu{
    float: right;
}

nav{
    display: inline-block;
}
nav li{
    display: inline;
}
nav a{
    color: #D2A03A;
    text-decoration: none;
    font-family: 'Eczar', serif;
    font-size: 21px;
    padding: 15px;
}
nav a:hover{
    color: #ffffff;
    text-decoration: underline #D2A03A ;
}

.logo{
    margin: 0 auto;
    width: 15%;
    height: auto;
}
.logo img{
    float: left;
}

.search{
    float: right;

}

/* PANTALLA BIENVENIDA */
.welcome{
    background-image: url(images//b0ff1a3520386aacce5cbad2986edc89.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    position: absolute;
    height: 100vh;
}

.sign-in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    background: #2e31352f;
    margin-top: 2px;
    padding: 20px;
    max-width: 400px;
}

.buttonIn{ 
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #061130;
    background-color: #D2A03A;
    border-radius: 6px;
  }

  .input{
    margin: 
  }

.bkgnd-image{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.6;
}




/*img{
    object-fit: cover;
    width: 150px;
    height: 200px;

    font-family: 'Eczar', serif;
    font-family: 'Montserrat', sans-serif;

    button:active {
    background: #C6C6C6;
  }
}*/