* {
    box-sizing: border-box;
  }
/* Función no mostrar */
.not-visible {
    display: none;
}
/* Centrar Texto */
.text-center{
    text-align: center;
}

/* CAJA PADRE */
.container{
    display: flex;
    flex-direction: column;
    position: relative;
}

/* BODY */
body{
    margin: 0px;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #3E3E3E;
}

/* HEADER */
header{
    margin: 0;
    background-color: #04031F;
    width: 100%;
    height: 100px;
    align-self: center;
}
/* Nav */
.menu{
    float: right;
}
nav{
    display: inline-block;
    margin-top: 18px;
}
nav li{
    display: inline;
}
nav a{
    color: #D2A03A;
    text-decoration: none;
    font-family: 'Eczar', serif;
    font-size: 21px;
    padding: 15px;
}
nav a:hover{
    color: #ffffff;
    text-decoration: underline #D2A03A ;
}
/* Logo PotterLand */
.logo{
    margin: 15px 0px 5px 40px;
    width: 15%;
    height: auto;
}
.logo img{
    float: left;
}
/* Buscador */
.search{
    margin: 40px 40px 5px 5px;
    float: right;

}

/* PANTALLA BIENVENIDA */
/* Background */
.welcome{
    background-image: url(images/Hogwarts.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    position: absolute;
    height: 100vh;
}
.welcome::after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.755);
    position: absolute;
}
/* Logo PotterLand Bienvenida */
.logo-welcome{
    width: 50%;
    height: auto;
}
/* Cuadro Bienvenida */
.sign-in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.755);
    border: 1px solid #ffffff;
    padding: 40px;
    max-width: 400px;
    z-index: 1;
}
.sign-in h2{
    font-family: 'Eczar', serif;
    font-size: 24px;
}
.sign-in p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 15px;
    text-align: left;
}
.user{
    display: flex;
    flex-flow: column;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input{
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
}

/* BOTÓN PRIMARIO */
#buttonIn{ 
    font-family: 'Eczar', serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #061130;
    background-color: #D2A03A;
    border: 1px solid #061130;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}
#buttonIn:hover{ 
    font-family: 'Eczar', serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #D2A03A;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

#buttonIn::after{
    content: "";
    background-color: #D2A03A;
    position: absolute;
    border: none;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 6px;
    z-index: -1;
}

/* PANTALLA PRINCIPAL*/
/* Body */
#principalScreen{
    width: 100%;
    height: auto;
}
/* Contenedor padre */
.col{
    width: 100%;
    height: auto;
    margin: 0 40px;
}
.grid{
    width: 100%;
    flex-direction: row;
    /*justify-content: space-around;*/
}
/* Tarjeta Personajes */
.card{
   width: 40%; 
   height: 260px;
   background: #061130;
   border-radius: 6px;
   margin: 5px;
   contain: content;
   display: inline-block;
}
#nameCharacter{
    font-family: 'Eczar', serif;
    font-size: 21px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 15px;
}
hr{
    border: 1px solid #D2A03A;
    max-width: 100px;
    text-align: center;
    margin: 0px auto;
}
.img-card{
    height: inherit;
    max-width: 100%;
}
#img-card{
    width:50%;heigth:auto
}
.box-icon{
    width: 100%;
    margin: 10px 5px;
    text-align: center;
    display: flex;
}
.box-icon p{
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.icon{
    width: 60%;
    height: auto;
    margin: 0px 10px;
}

/* FOOTER */
footer{
    background-color: #04031F;
    width: 100%;
    display: inline-block;
}
footer p{
    color: white;
}
.footer{
    margin: 15px 40px;
}
.footer-logo{
    margin: 25px 0px 25px 40px;
    width: 20%;
    height: auto;
}
.img-footer{
    max-width: 15%;
}
.site-map li{
    display: inline-block;
}
.site-map ul {
    display: flex;
}
.site-map a{
    color: white;
    text-decoration: none;
    font-family: 'Eczar', serif;
    font-size: 21px;
    font-weight: 400;
    padding: 15px;
}
.site-map img{
    width: 4%;
    height: auto;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
    .card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


/*
    font-family: 'Eczar', serif;
    font-family: 'Montserrat', sans-serif;
*/