html {
    scroll-behavior: smooth; /* Darle suavidad al momento de moverse*/
  }
  /* Función no mostrar */
  .not-visible {
      display: none;
  }
  /*Grid Sistem*/
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  .container{
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
  }
  /*Fila*/
  .row:before, .row:after{
      content: '';
      display: flex;
      clear: both;
  }
  /*Columnas*/
  .col-1{width: 8,33333333%;}
  .col-2{width: 16,66666666%;}
  .col-3{width: 25%;}
  .col-4{width: 33,33333333%;}
  .col-5{width: 41,6666667%;}
  .col-6{width: 50%;}
  .col-7{width: 58,33333333%;}
  .col-8{width: 66,66666667%;}
  .col-9{width: 75%;}
  .col-10{width: 83,33333333%;}
  .col-11{width: 91,66666667%;}
  .col-12{width: 100%;}
  
  /* BODY */
  body{
      height: auto;
      font-family: 'Montserrat', sans-serif;
      background-color: #1d1d1d;
      text-align: center;
  }
/* HEADER */
header{
    background-color: #0f0f0f;
    height: 80px;
    position: fixed;
    padding: 0px 40px;
    z-index: 1;
    display: flex;
    align-items: center;
}
/*Logo PotterLand*/
.logo{
    height: auto;
    width: 15%;
    margin-right: 5%;
}
/* Nav */
nav li{
    display: inline-block;
}
nav a{
    color: #D2A03A;
    text-decoration: none;
    font-family: 'Eczar', serif;
    font-size: 18px;
    padding: 15px;
}
nav a:hover{
    color: #ffffff;
    text-decoration: underline #D2A03A ;
}
/*Buscador*/
.search{
    float: right;
    padding: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
/* PANTALLA BIENVENIDA */
/* Background */
.welcome{
    background-image: url(images/Hogwarts.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    position: absolute;
    height: 100vh;
}
.welcome::after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.755);
    position: absolute;
}
/* Logo PotterLand Bienvenida */
.logo-welcome{
    width: 50%;
    height: auto;
}
/* Cuadro Bienvenida */
.sign-in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.755);
    border: 1px solid #ffffff;
    padding: 40px;
    max-width: 400px;
    z-index: 1;
}
.sign-in h2{
    font-family: 'Eczar', serif;
    font-size: 24px;
}
.sign-in p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 15px;
    text-align: left;
}
.user{
    display: flex;
    flex-flow: column;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input{
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    border: none;
}
.input:focus{
    outline: none;
}

/* BOTÓN PRIMARIO */
#buttonIn{ 
    font-family: 'Eczar', serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #061130;
    background-color: #D2A03A;
    border: 1px solid #061130;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    transition: all .8s;
}
#buttonIn:hover{ 
    font-family: 'Eczar', serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #D2A03A;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    transition: all .2s;
}
#buttonIn:focus{
    outline: none;
}
#buttonIn::after{
    content: "";
    background-color: #D2A03A;
    position: absolute;
    border: none;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 6px;
    z-index: -1;
}

/* PANTALLA PRINCIPAL*/
/* Body */
.principalScreen{
    width: 100%;
    box-sizing: border-box;
}
/* Contenedor padre */
.grid{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
/* Titulo y user*/
.tittle-user{
    display: block;
    margin: 0px 40px;
    padding-top: 95px;
    z-index: 6;
}
.principalScreen h2{
    font-family: 'Eczar', serif;
    font-size: 26px;
    color: white;
    text-align: center;
    font-weight: 400;
}
.tittle-user p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    float: right;
    margin-top: -55px;
}
/* FILTROS*/
.filter{
    margin: 0px 0px 20px 40px;
    display: flex;
    height: 20px;
    font-size: 14px;
}
select:focus{
    outline: none;
}
label{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 10px 0px 10px;
    width: 100px;
}

/* Tarjeta Personajes */
.shield{
    max-width: 60px;
    position: absolute;
    margin-left: 45%;
    margin-top: -3%;
}
.card{
    position: relative;
    width: 45%;
    height: auto;
    background: #060b1a;
    border-radius: 6px;
    margin: 18px;
    display: flex;
    transition: all .2s;
    box-shadow: 6px 11px 21px -1px rgba(0,0,0,0.4);
}
.card:hover{
    transform: scale(1.05);
    transition: all .2s;
}
.card-left{
    width: 50%;
    height: 100%;
}
#nameCharacter{
    font-family: 'Eczar', serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
}
hr{
    border: 0.5px solid #D2A03A;
    max-width: 100px;
    text-align: center;
    margin: 0px auto;
}
#img-card{
    width:50%;
    display: flex;
}
.img-card{
    height: inherit;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0px 6px 6px 0px;
}
.box-icon{
    width: 50%;
    display: flex;
    text-align: initial;
    margin: 7px 0px 0px 30px;
}
.patronus{
    margin: 10px;
}
.patronus-b{
    margin-left: 25px;
}
.box-icon p{
    font-size: 12px;
    color: white;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}
.font{
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.icon{
    width: 35px;
    height: auto;
}

/* FOOTER */
footer{
    background-color: #0f0f0f;
    width: 100%;
    display: flex;
    margin-top: 50px;
    float: left;
    box-sizing: border-box;
}
footer p{
    color: white;
}
.footer{
    margin: 15px 40px;
    display: flex;
    bottom: 0;
}
.width-logo{
    width: 33%;
}
.footer-logo{
    margin: 0px;
    width: 50%;
    height: auto;
}
.img-footer{
    max-width: 30%;
    height: auto;
}
.site-map{
    width: 33%;
}
.site-map ul{
    flex-wrap: wrap;
}
.site-map li{
    flex-wrap: wrap;
    display: flex;
}
.site-map img{
    width: 6%;
    height: auto;
}
.site-map a{
    color: white;
    font-family: 'Eczar', serif;
    font-size: 16px;
    font-weight: lighter;
}
.site-map a:hover{
    color: #D2A03A;
    font-family: 'Eczar', serif;
    font-size: 16px;
    font-weight: lighter;
}
.store{
    width: 33%;
}

/* RESPONSIVE */

@media screen and (max-width: 600px){
    /* Body */
.principalScreen{
    width: 100%;
    box-sizing: border-box;
}
.card{
    position: relative;
    width: 100%;
    max-height: 260px;
    background: #080d1a;
    border-radius: 6px;
    margin: 15px;
    contain: layout;
    display: flex;
    transition: all .2s;
    box-shadow: 6px 11px 21px -1px rgba(0,0,0,0.4);
}
.card:hover{
    transform: scale(1.05);
    transition: all .2s;
}
.card-left{
    width: 50%;
    height: 100%;
    text-align: center;
}
} 