html {
  scroll-behavior: smooth; /* Darle suavidad al momento de moverse*/
}

/* Función no mostrar */
.not-visible {
    display: none;
}
/* Centrar Texto */
.text-center{
    text-align: center;
}

/* BODY */
body{
    margin: 0px;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #292929;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* HEADER */
header{
    margin: 0;
    background-color: #04031F;
    width: 100%;
    height: 100px;
    align-self: center;
}
/* Nav */
.menu{
    float: right;
}
nav{
    display: inline-block;
    margin-top: 18px;
}
nav li{
    display: inline;
}
nav a{
    color: #D2A03A;
    text-decoration: none;
    font-family: 'Eczar', serif;
    font-size: 18px;
    padding: 15px;
}
nav a:hover{
    color: #ffffff;
    text-decoration: underline #D2A03A ;
}
/* Logo PotterLand */
.logo{
    margin: 15px 0px 5px 40px;
    width: 15%;
    height: auto;
}
.logo img{
    float: left;
}
/* Buscador */
.search{
    margin: 40px 40px 5px 5px;
    float: right;

}

/* PANTALLA BIENVENIDA */
/* Background */
.welcome{
    background-image: url(images/Hogwarts.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    position: absolute;
    height: 100vh;
}
.welcome::after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.755);
    position: absolute;
}
/* Logo PotterLand Bienvenida */
.logo-welcome{
    width: 50%;
    height: auto;
}
/* Cuadro Bienvenida */
.sign-in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.755);
    border: 1px solid #ffffff;
    padding: 40px;
    max-width: 400px;
    z-index: 1;
}
.sign-in h2{
    font-family: 'Eczar', serif;
    font-size: 24px;
}
.sign-in p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0 15px;
    text-align: left;
}
.user{
    display: flex;
    flex-flow: column;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.input{
    padding: 8px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 20px;
}

/* BOTÓN PRIMARIO */
#buttonIn{ 
    font-family: 'Eczar', serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #061130;
    background-color: #D2A03A;
    border: 1px solid #061130;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    transition: all .8s;
}
#buttonIn:hover{ 
    font-family: 'Eczar', serif;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: #ffffff;
    background-color: #D2A03A;
    border: 1px solid #ffffff;
    border-radius: 6px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
    transition: all .2s;
}

#buttonIn::after{
    content: "";
    background-color: #D2A03A;
    position: absolute;
    border: none;
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border-radius: 6px;
    z-index: -1;
}

/* PANTALLA PRINCIPAL*/
/* Body */
.principalScreen{
    width: 100%;
}
.principalScreen h2{
    font-family: 'Eczar', serif;
    font-size: 26px;
    color: white;
    text-align: center;
}
/* Contenedor padre */
.col{
    width: 100%;
    height: auto;
}
.grid{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
/* Titulo y user*/
.tittle-user{
    display: flex;
    margin-bottom: 20px;
}
.tittle-user p{
    float: right;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.tittle-user img{
    width: 2%;
    height: auto;
}
/* Tarjeta Personajes */
.shield{
    width: 50px;
    height: auto;
    max-width: 50px;
    float: inline-start;
    text-align: center;
    display: flex;
   /* box-shadow: 6px 11px 21px -1px rgba(0,0,0,0.62);*/
}
.border{
    border: 1px solid #ffffff;
    margin: 10px;
    display: flex;
}
.card{
    width: 40%;
    max-height: 260px;
    background: #061130;
    border-radius: 6px;
    margin: 15px;
    contain: content;
    display: flex;
    transition: all .2s;
    box-shadow: 6px 11px 21px -1px rgba(0,0,0,0.4);
}
.card:hover{
    transform: scale(1.06);
    transition: all .2s;
}
#nameCharacter{
    font-family: 'Eczar', serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 15px;
}
hr{
    border: 0.5px solid #D2A03A;
    max-width: 100px;
    text-align: center;
    margin: 0px auto;
}
.img-card{
    height: inherit;
    max-width: 100%;
    object-fit: cover;
}
#img-card{
    width:50%;
    display: flex;
}
.box-icon{
    width: 100%;
    margin: 10px 5px;
    text-align: center;
    display: flex;
}
.box-icon p{
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.icon{
    width: 60%;
    height: auto;
    margin: 0px 10px;
}

/* FOOTER */
footer{
    background-color: #04031F;
    width: 100%;
    display: flex;
    margin-top: 50px;
}
footer p{
    color: white;
}
.footer{
    margin: 15px 40px;
    display: flex;
}
.width-logo{
    width: 33%;
}
.footer-logo{
    margin: 0px;
    width: 50%;
    height: auto;
}
.img-footer{
    max-width: 30%;
    height: auto;
}
.site-map{
    width: 33%;
}
.site-map ul{
    flex-wrap: wrap;
}
.site-map li{
    flex-wrap: wrap;
    display: flex;
}
.site-map img{
    width: 6%;
    height: auto;
}
.site-map a{
    color: white;
    font-family: 'Eczar', serif;
    font-size: 16px;
    font-weight: lighter;
}
.site-map a:hover{
    color: #D2A03A;
    font-family: 'Eczar', serif;
    font-size: 16px;
    font-weight: lighter;
}
.store{
    width: 33%;
}
