/*Se hace función no mostrar*/

.not-visible {
    display: none;
}

/* Helpers */

.text-center{
    text-align: center;
}

/* CAJA PADRE */
.container{
    display: flex;
    flex-direction: column;
    position: relative;
}

/*Se coloca un margen de 0 */

body{
    margin: 0;
    height: auto; 
    display: flex;
    object-fit: cover;
    width: 150px;
    height: 200px;
    font-family: 'Montserrat', sans-serif;
}

.welcome{
    background-image: url(images//b0ff1a3520386aacce5cbad2986edc89.jpg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    position: absolute;
    height: 100vh;
}

.sign-in{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    color: #ffffff;
    background: #2e31352f;
    margin-top: 2px;
    padding: 20px;
    max-width: 400px;
}

.buttonIn{ 
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #061130;
    background-color: #D2A03A;
    border-radius: 6px;
  }

  .input{
    margin: 
  }

.bkgnd-image{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.logo{
    max-width: 200px;
    margin: 0 auto;
  }



/*img{
    object-fit: cover;
    width: 150px;
    height: 200px;

    font-family: 'Eczar', serif;
    font-family: 'Montserrat', sans-serif;

    button:active {
    background: #C6C6C6;
  }
}*/